*{
    align-items:center;
    fill: #cacaca;
    font-size: 14px;  
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-left: auto ;
    margin-right: auto ;
    width: 40%;
}
.buttons .play {
    font-size: 40px !important;

    
   
}
