.icons {
    align-items: center;
    display: flex;
    
}
.icons .favourite{
    fill: #cacaca;
    font-size: 18px;
    
  
}

.icons .expand {
    fill: #cacaca;
    font-size: 18px;
    margin-left: 15px;
}