.progress{
    display: flex;
    align-content: center;
}

.remaining_time, .end_time {
    font-size: 10px;
    color: white;

}

.bar {
    width: 87%;
    height: 4px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}