@font-face { 
font-family: Metropolis-medium;
    src: url('fonts/Metropolis-Medium.otf') format("opentype");
}

.Sidebar {
    font-family: Metropolis-bold !important;
    background-color:#040404;
    width: 230px;
    height: 100pc;
}

.Sidebar .Sidebar-logo{
   height: 5pc;
   object-fit: contain;
}
.main-icon{
    width: 30%!important;
}
p {
    font-family:Metropolis-medium !important;
    color: #cacaca;
}


.Sidebar-elements {
    margin-left: 15px;
    font-size: 13px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    padding: 4px;
    align-items: center;
}

li .item {
    margin-left: 14px;
}

.Sidebar-main-menu {
    margin-top: 5px;
    margin-bottom: 15px;
}

li .home, li .search, li .libary{
    font-size: 30px;
}
