@font-face { 
font-family: Metropolis-medium;
    src: url('fonts/Metropolis-Medium.otf') format("opentype");
}

.Sidebar {
    font-family: Metropolis-bold !important;
    background-color:#040404;
    width: 230px;
    height: 100pc;
}

.Sidebar > hr {
    width: 20px;
}

.Sidebar .Sidebar-logo{
   height: 5pc;
   object-fit: contain;
}
.main-icon { 
    width: 30%!important;
}

.Sidebar-elements {
    margin-left: 15px;
}

.titlePlaylist {
    margin-bottom: 10px;
    color: white;
}
.titlePlaylist b{
    margin-left:8px;
    letter-spacing: 1px;
    font-size: 12
    12spx !important;
    
}
